/* 路由统一动效（必须用page） */

/*动画形式*/
.page-enter-active, .page-leave-active {
    transition: opticity .5s;
}
/*入 退*/
.page-enter, .page-leave-active {
    opacity: 0;
}


/*路由独享动效*/
.test-enter-active, .test-leave-active {
    transition: .5s ease all;
}
.test-enter, .test-leave-active {
    margin-left: -1000px;
}  